
/* 1. 폰트 사용 방법1, 직접 입력*/
/* 
body {
    /* div 안의 font 번경, apple-system 문구 많이 사용 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*/

/* 2. 폰트 사용 방법2, google 폰트 사용*/
/* google 폰트 사용하기 */
/* https://fonts.google.com/selection/embed */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* 웹브라우저가 자동으로 생성하는 style 제거하기*/
/* https://meyerweb.com/eric/tools/css/reset/ */
@import "reset.css";

/* status-bar 관련 css 내용을 별도 파일로 만들기*/
@import "status-bar.css";

@import "variables.css";

body {
    font-family: "Open Sans", sans-serif;
}

.welcome-header {
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title {
    margin-bottom: 20px;
    font-size: 25px;
}

.welcome-header__text {
    width: 60%;
    opacity: 0.8;
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form input {
    border: none;
    padding: 15px 0px;
    font-size: 18px;
    /* input 이 submit 이 아닐때만 적용하기 위해 아래 코드 삭제후 아래 input:not에 추가 */
    /*border-bottom : 1px solid rgba(0, 0, 0, 0.2); */
    margin-bottom: 25px;
}

/* Log in input 을 포커스할때 var(--yellow) 에 의해 색이 변경되는 상황 예외처리*/
/* https://developer.mozilla.org/ko/docs/Web/CSS/:not */

#login-form input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: bordere-color 0.3s ease-in-out;
}

/* 가상 클래스 선택자(pseudo element) 인 placeholer 활용*/
#login-form input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

/* form 태그내 input 태그 각각을 클릭할때 outline 이 생기지 않도록 처리 */
/* reset.css 의 마지막 input:focus 참조 */

/* 클래스 state*/
/* input 을 포커스(클릭)했을때 color 변경, variables.css 의 yellow variable 활용*/
#login-form input:focus {
    /* border-color: rgba(0, 0, 0, 0.4); */
    border-color:var(--yellow);
}

#login-form input[type="submit"] {
    background-color:var(--yellow);
    cursor: pointer; /* progress, not-allowed 등 많은 타입 제공*/
    padding: 20px 0px;
    border-radius: 5px;
}

#login-form a {
    text-align: center;
    text-decoration: none;
    /* url 은 기본적으로 blue 색이 적용됨, default color 삭제 */
    color: inherit; /* 부모로 부터 상속 */
    font-size: 13px;
}